header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4vh;
    background-color: rgb(49, 54, 63);
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 40, 49);
    font-size: 18px;
}

h1 {
    font-size: 32px;
    color: white;
}

#content-section {
    min-height: 85vh;
    margin: 7vh 10vh 7vh 10vh;
    flex: 1 0 auto;
    color: rgb(227, 227, 227);
}

.footer {
    width: 100%;
    bottom: 0;
    margin-top: 50px;
    padding: 10vh 0 10vh 0;
    background-color: rgb(20, 24, 30);
    color: rgb(153, 153, 153);
    font-size: 18px;
}

.test {
    color: white
}

.navbar-nav {
    margin-left: 5vh;
    display: flex;
    flex-direction: row;
}

.nav-link{
    margin: 0 2vh 0 2vh;
    color: rgb(173, 173, 173);
}

/* .nav-link:hover{
    
} */

.active{
    color: white !important; 
}

.form-text {
    color: white;
}

h2 {
    font-size: 30px;
    margin-bottom: 5vh;
}